autostart
Code
dconf
discord
Electron
gh
gtk-3.0
i3
incus
kdeconnect
kdeglobals
kdenlive-layoutsrc
kdenliverc
obsidian
obs-studio
pavucontrol.ini
pulse
QtProject.conf
Slack
Thunar
user-dirs.dirs
user-dirs.locale
xarchiver
xfce4
